.header{
  background-color: $navbar-bg;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  height: $header-height;
  transition: height 0.3s;

  .container{
    height: 100%;
  }


  &.shrink{
    height: $header-shrink-height;
    box-shadow: $box-shadow;
    transition: height 0.3s;
    z-index: 100;
  }

  &__logo{
    @include flex(center,center);
    position: absolute;
    inset: 0;
    pointer-events: none;

    &__svg{
      height: 6.5rem;
    }
  }

  &__menu{
    @include flex(center,space-between);
    height: 100%;
    font-size: 2rem;


    &__mobile-toggle{
      display: none;
    }


    &__item ~ &__item {
      margin-left: 3.9rem;
    }

    &__item.active{
      color: $main-color;
    }

    &__item:hover{
      color: $secondary-color;
    }

    &__item::after{
      content: '';
      display: block;
      width: 0;
      height: 0.2rem;
      background: $main-color;
      transition: width .3s;
    }

    &__item:hover::after{
      width: 100%;
      transition: width .3s;
    }

    &__left,
    &__right{
      @include flex(center,center);
      height: 100%;
    }


    &__right{
      font-size: 2.25rem;
      &__item{
        @include flex(center,center);
      }
    }

    &__left{
      padding: 50% 1.5rem 50% 1.5rem;
      &__close{
        display: none;
      }
    }
  }

}

@media only screen and (max-width: $tablet-width){

  .header{
    &__menu{
      &__left{
        flex-direction: column;
        background-color: #F5F2ED;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        justify-content: flex-start;
        padding-top: 3rem;
        transform: translateX(-100%);
        transition: transform 0.5s ease;
        &.active{
          transform: translateX(0);
        }

        &__item ~ &__item{
          margin-left: unset;
          margin-top: 2rem;
        }

        &__close{
          display: block;
          position: absolute;
          left: 2rem;
          font-size: 2.5rem;
        }
      }
    }
  }
  .header__menu__mobile-toggle{
    display: block;
    font-size: 2.5rem;
  }
}